
 .form-container {
    width: 50%;
    margin: 0 auto;
}

form {
    background-color: #1e3d6ba8;
    padding: 20px;
    border-radius: 8px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #fff;
}

input,
button {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #4568a7;
    border-radius: 5px;
    background-color: #13283d;
    color: #fff;
}

input[readonly] {
    background-color: #3e6bab73;
}

.eye-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
    cursor: pointer;
}

input[type="password"] {
    font-family: 'Arial', sans-serif;
    padding-right: 11px;
    /* Ajuste para el icono del ojo */
}

input:focus,
button:focus {
    outline: none;
    border-color: #fff;
}

.dark-btn {
    background-color: #0b192b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dark-btn:hover {
    background-color: #081320;
}