body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://i.postimg.cc/8knwmN0m/Dise-o-sin-t-tulo-8.png');
    background-size: cover;  /* Hace que la imagen de fondo cubra completamente el Ã¡rea */
    background-repeat: no-repeat;
    color: #fff;
}

.header {
    background-color: #3e6bab73;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
}
.sidebar {
    width: 250px;
    float: left;
    background-color: #163859;
    height: 100vh;
    border-radius: 10px;
    margin-top: 10px;
    overflow-y: auto;
}


.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 6px;
}

.sidebar ul li a {
    display: block;
    padding: 10px;
    background-color: #163859;
    color: #fff;
    border-radius: 3px;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar ul li a:hover {
    background-color: #112538;
    color: #fff;
}


.sidebar ul li {
    border-bottom: none;
}

.content {
    flex-grow: 1; /* El contenido se expandirá para llenar el espacio restante */
    padding: 20px;
}

.content h2 {
    margin-bottom: 20px;
}

.dark-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición suave al pasar el ratón */
}

.dark-btn:hover {
    background-color: #555;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

#misCursos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espaciado entre cursos */
}

.curso {
    background-color: #444;
    color: #fff;
    padding: 15px;
    width: calc(33.33% - 20px); /* 33.33% para tres cursos por fila con espacio entre ellos */
    border-radius: 8px;
    transition: transform 0.3s ease; /* Transición suave al pasar el ratón */
}

.curso:hover {
    transform: scale(1.05); /* Efecto de escala al pasar el ratón */
}

.form-container {
    width: 50%;
    margin: 0 auto;
}

form {
    background-color: #1e3d6ba8;
    padding: 20px;
    border-radius: 8px;
}

label {
    color: #fff;
    padding: 15px;
    width: calc(33.33% - 20px); /* 33.33% para tres cursos por fila con espacio entre ellos */
    border-radius: 8px;
}

select

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    color: #fff;
}

input{
    background-color: #20304ba8;
    color: #fff;
    padding: 10px;
    width: calc(33.33% - 20px); /* 33.33% para tres cursos por fila con espacio entre ellos */
    border-radius: 8px;
    transition: transform 0.3s ease; /* Transición suave al pasar el ratón */
}

select{
    background-color: #19273ba8;
    color: #fff;
    padding: 10px;
    width: calc(33.33% - 20px); /* 33.33% para tres cursos por fila con espacio entre ellos */
    border-radius: 8px;
    transition: transform 0.3s ease; /* Transición suave al pasar el ratón */
}

textarea{
    background-color: #273d5da8;
    color: #fff;
    width: calc(33.33% - 20px); /* 33.33% para tres cursos por fila con espacio entre ellos */
    border-radius: 8px;
}

input:focus,
button:focus {
    outline: none;
    border-color: #fff;
}

.tablecalificaciones {
    border-collapse: collapse;
    margin-top: 20px;
    float: inline-start;
}

.tablecalificaciones,
th,
td {
    border: 1px solid #838282;
    padding: 12px;
    font-size: 14px;
    background-color: #2c426496;
}

.tablecalificaciones,
th {
    background-color: #1a2435;
    font-weight: bold;
}

.tablecalificaciones,
tr:hover {
    background-color: #12223d91;
}

/* Estilos para el select de especialidad */
.content3 {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

/* Estilos para el select de médico */
.medico {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

/* Estilos para el botón */
button {
    background-color: #0b192b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición suave al pasar el ratón */
}

button:hover {
    background-color: #081320;
}

button:focus {
    outline: none;
    border-color: #fff;
}

.header h1 {
    font-size: 20px;
    margin: 0;
    color: #fff;
}

.header p {
    margin: 10px 0;
    color: #fff;
}